:root {
      --main-purple: #6f42c1;
      --light-purple: #e9d8fd;
    }

    html, body {
      scroll-behavior: smooth;
    }

.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 10px 5px;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.profile-photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 7%;
  margin: 0 auto 12px;
  display: block;
  
}

.nav-link {
  font-size: 1rem;
  padding: 10px;
  color: #333;
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover, .nav-link.active {
  background-color: var(--light-purple);
  color: var(--main-purple);
}

@media (max-width: 767.98px) {
  .sidebar {
    position: relative;
    height: auto;
    border-right: none;
    padding: auto;
  }
  .profile-photo {
    width: 80px;
    height: 80px;
  }

  .nav-link:hover, .nav-link.active {
  background-color: var(--light-purple);
  color: var(--main-purple);
}
}

  section {
      padding: 0;
      margin: 0;
      border-bottom: 1px solid #ccc;
      min-height: 60vh;
      background-color: var(--light-purple);;
      background-blend-mode: lighten;
    }

    .carousel-item img {
      width: 100%;
      height: auto;
      border-radius: 1rem;
      
    }

    .wrap-image {
    float: right;         
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    width: auto;         
    height: 250px;
    }

    h1 {
      background-color: var(--main-purple);
      color: white;
    }

    .btn.btn-purple {
      background-color: var(--main-purple);
      color: white;
    }

    .btn.btn-purple:hover {
      background-color: #5a32a3;
    }

  .carousel-caption h5 {
    font-size: 3rem;
    color: #ff2807; 
  }

  .carousel-caption p {
    font-size: 2.5rem;
    color: black;
  }

  /* Limit carousel image height */
  #projectCarousel img {
  max-height: 400px; /* Adjust height as needed */
  object-fit: cover;
  }

/* Style the text background for readability */
  .carousel-caption {
  background-color: rgba(255, 255, 255, 0.75); /* light background*/
  color: #000; /* dark text for contrast */
  padding: 1rem;
  border-radius: 10px;
  max-width: 80%;
  margin: 0 auto;
}

/* Center the captions on all devices */
  .carousel-caption h5, .carousel-caption p {
  margin-bottom: 0.2rem;
}
/* for small screens use @media queries */
@media (max-width: 768px) {
  .carousel-caption {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}

  .contact-info i {
    color: #0e76a8; 
    margin-right: 8px;
  }

  .contact-info a {
    color: #333;
    text-decoration: none;
  }

  .contact-info a:hover {
    text-decoration: underline;
  }

  #contact .contact-info {
    margin-left: 30px;

}
  #about p {font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-style:normal;
   font-size:larger;
   line-height: 50px;
  }
 #skills ul {
  margin-left: 30px;
  margin-right: 30px;#e9d8fd;
 }
